{% extends 'base.html.twig' %}

{% block title %}Create Transaction to Person{% endblock %}

{% block body %}
    <h1>Create Transaction to Person</h1>

    {{ include('person/_form.html.twig') }}

    <a href="{{ path('person_index') }}">back to list</a>
{% endblock %}
