<nav>
    <ol>
        <li><a href="{{ path('account_index') }}">Accounts</a></li>
        <li><a href="{{ path('transaction_index') }}">Transactions</a></li>
        <li><a href="{{ path('person_index') }}">Persons</a></li>
    </ol>
</nav>